<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${title}</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<input type="text"></input>
<textarea></textarea>

<div>    <!-- для создания блоков -->
<h1>${cat.name}</h1>
<h2 class="cat">${cat.weight}</h2>
<h3 style="color:blue">Заголовок 3</h3>
<h4>Заголовок 4</h4>
</div>
<br/>
<u><i><b><p>Абзац</p></b></i></u> <!--Внешний вид не настраиваться тегами, для этого есть CSS-->
<button>Нажми меня</button>

<ul>
    <li>Первый</li>
    <li>Второй</li>
    <li>Третий</li>
</ul>

<form>Форма</form>
<h1 style="cat">Данные кота</h1>
<p>${cat}</p>
<table>
    <th></th>
    <tr><td>Один</td><td>Два</td></tr>
</table>
<a href="http://www.yandex.ru">Яндекс</a>
<img src = "https://i.postimg.cc/5NT9zMzg/1080px-Manoel.jpg" >
<div></div>
</body>
</html>